<div class="form-group <%= args.inline ? 'd-inline' : "" %>">
  <% if(args.label) { %><label for="<%- args.id %>-field"><%= args.label %></label><% } %>
    <select id="<%- args.id %>-field" class="form-select" style="<% if(args.inline) { %>width: auto; display: inline;<% } %>" placeholder="<% if(args.label) { %><%= args.label %><% } %>" autocomplete="off">
      <% if(args.options) { %>
        <% for(let i in args.options) { %>
        <option value="<%- args.options[i].value %>" <% if(args.value && args.value == args.options[i].value) { %>selected<% } %>><%- args.options[i].text %></option>
        <% } %>
      <% } %>
    </select>
    <div class="invalid-feedback"></div>
  <% if(args.helpText) { %>
  <p>
    <small class="text-muted"><%= args.helpText %></small>
  </p>
  <% } %>
</div>