<div class="form-group">
  <% if(args.label) { %><label for="<%- args.id %>-field"><%= args.label %></label><% } %>
  <textarea id="<%- args.id %>-field" class="form-control" placeholder="<% if(args.label) { %><%= args.label %><% } %>" autocomplete="off" <% if(args.rows) { %>rows="<%= args.rows %>"<% } %>><%= args.default %></textarea>
  <div class="invalid-feedback"></div>
  <% if(args.helpText) { %>
  <p>
    <small class="text-muted"><%= args.helpText %></small>
  </p>
  <% } %>
</div>